<section class="bg-[#bc382e] w-full relative z-30 flex-col sm:flex-row sm:justify-start  h-[70vh] py-20  flex items-center overflow-hidden ">
    <div class="ml-6 sm:w-[60%] w-full" >
        <h2 class="mb-2 text-[2rem] sm:text-[3rem]  text-white">Get a domain</h2>
        <p   class="md:text-lg text-sm relative z-30 text-white w-[90%] sm:w-[65%] font-semibold leading-[25px] " >Give your blog the perfect home. Get a blogspot.com domain or buy a custom domain with just a few clicks.</p>
    </div>
    <div class="">
        <img src="../..//images/HTS1.png"
        class="absolute w-[165%] sm:w-[65%] -right-[15%] sm:top-[30%] top-[40%]"
        alt="HTS1"
        data-aos="fade-up">
        <img src="../..//images/HTS2.png"
        class="absolute w-[70%] sm:w-[40%] -right-[2%] sm:top-[36%] top-[42%]"
        alt="HTS1"
        data-aos="fade-up">
        <img src="../..//images/HTS3.png"
        class="absolute w-[34%] sm:w-[22%] right-[2%] sm:-right-[2%] sm:top-[15%] top-[40%]"
        alt="HTS1"
        data-aos="fade-up">
    </div>
</section>