<div class="relative z-20 w-full h-[29rem] flex justify-center  overflow-hidden" id="img_div_1st">
    <img src="" id="img_2nd" alt=""
        class="transform md:-translate-x-[36rem] -translate-y-[100%]  w-[13%] absolute -top-[83px] ">
    <img src="" id="img_3rd" alt=""
        class=" transform -translate-x-[36rem] translate-y-24   w-[13%] absolute top-[15px] ">
    <img src="" id="img_4th" alt="" class="  w-[20%] absolute top-[173px] ">
    <img src="" id="img_5th" alt=""
        class="transform -translate-x-[6rem] translate-y-10 w-[4.5%] absolute top-[27px]">
    <img src="" id="img_6th" alt=""
        class="transform  translate-y-10 translate-x-[225%]   w-[20%] absolute -top-[35px]  overflow-x-hidden">

    <img src="" id="img_7th" alt=""
        class="transform  translate-y-20 translate-x-[220%]  w-[9%] absolute top-[19px] ">
    <img src="" id="img_8th" alt="" class="transform translate-y-0 translate-x-[250%]   w-[25%] absolute top-[160px] ">
    <img src="" id="img_1st" alt="" class="m-auto transform translate-y-[83px] opacity-1 md:w-[50%] w-[80%] ">
</div>

<!-- // 2nd Blue -->

<div class="relative z-20 w-full h-[29rem] flex justify-center  overflow-hidden" id="img_div_2nd">
    <img src="" id="img_2nd_blue" alt=""
        class=" translate-y-[87px]  w-[24%] absolute -top-[83px] -left-[9%]">
    <img src="" id="img_3rd_blue" alt=""
        class=" translate-y-[258px]  w-[15%] absolute top-[50px] -left-[4.4%]">
    <img src="" id="img_4th_blue" alt=""
        class=" translate-y-[158px]  w-[13%] absolute top-[208px] left-[10%]">
    <img src="" id="img_5th_blue" alt=""
        class=" translate-y-[5px]  w-[17%] absolute top-[62px] -right-[6%]">
    <img src="" id="img_6th_blue" alt=""
        class=" translate-y-[160px]  w-[11%] absolute top-[0px] right-[8%] overflow-x-hidden">

    <img src="" id="img_7th_blue" alt=""
        class=" translate-y-[302px]  w-[21%] absolute top-[54px] right-[3%]">

    <img src="" id="img_1st_blue" alt="" class="m-auto  translate-y-[83px] opacity-1 w-[80%] md:w-[55%]">
</div>

<!-- 3rd Green -->

<div class="relative z-20 w-full h-[29rem] flex justify-center  overflow-hidden" id="img_div_3rd">
    <img src="" id="img_2nd_green" alt=""
        class="transform translate-y-[55px]  w-[18%] absolute -top-[83px] -left-[9%]">
    <img src="" id="img_3rd_green" alt=""
        class=" translate-y-[258px]  w-[15%] absolute top-[50px] -left-[4.4%]">
    <img src="" id="img_4th_green" alt=""
        class=" translate-y-[158px]  w-[13%] absolute top-[208px] left-[10%]">
    <img src="" id="img_5th_green" alt=""
        class=" translate-y-[5px]  w-[17%] absolute top-[62px] -right-[6%]">
    <img src="" id="img_6th_green" alt=""
        class=" translate-y-[160px]  w-[11%] absolute top-[0px] right-[8%] overflow-x-hidden">

    <img src="" id="img_7th_green" alt=""
        class=" translate-y-[302px]  w-[21%] absolute top-[54px] right-[3%]">
    <img src="" id="img_8th_green" alt=""
        class=" translate-y-[302px]  w-[21%] absolute top-[54px] right-[3%]">
    <img src="" id="img_9th_green" alt=""
        class=" translate-y-[302px]  w-[16%] absolute top-[54px] -right-[9%]">

    <img src="" id="img_1st_green" alt="" class="m-auto  translate-y-[83px] opacity-1 w-[80%] md:w-[55%]">
</div>