<footer
  class="bg-[#1d2b34] w-full relative z-30 overflow-hidden py-[3rem] text-white"
>
  <div class="w-[84%] mx-auto">
    <div class="w-full flex justify-evenly flex-wrap">
      <div class="w-[20%]">
        <ul>
          <li><h3 class="my-5 font-semibold text-2xl">Help</h3></li>
          <li class="text-[18px] text-[#cbd1d3] my-2">Help Center</li>
          <li class="text-[18px] text-[#cbd1d3] my-2">Help Forum</li>
          <li class="text-[18px] text-[#cbd1d3] my-2">Video Tutorials</li>
        </ul>
      </div>
      <div class="w-[20%]">
        <ul>
          <li><h3 class="my-5 font-semibold text-2xl">Community</h3></li>
          <li class="text-[18px] text-[#cbd1d3] my-2">Blogger Buzz</li>
        </ul>
      </div>
      <div class="w-[20%]">
        <ul>
          <li><h3 class="my-5 font-semibold text-2xl">Developers</h3></li>
          <li class="text-[18px] text-[#cbd1d3] my-2">Blogger API</li>
          <li class="text-[18px] text-[#cbd1d3] my-2">Developer Forum</li>
        </ul>
      </div>
      <div class="w-[20%]">
        <ul>
          <li><h3 class="my-5 font-semibold text-2xl">Accounts</h3></li>
          <li class="text-[18px] text-[#cbd1d3] my-2">
            <a href="https://www.linkedin.com/in/ahmed-abbasi-9419012b2/" target="_blank"
              
            class="hover:text-orange-400"
            >Linkdien</a
            >
          </li>
          <li class="text-[18px] text-[#cbd1d3] my-2 "target="_blank">
            <a href="https://github.com/Ahmed-Abbasi-Official"
            class="hover:text-orange-400"
            >Github</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
