<section
  class=" HTSection h-[75vh] w-full overflow-hidden relative z-30 bg-[#e67400]  text-white"
>
  <div class="flex justify-center sm:items-center items-evenly w-full h-full relative z-30 mt-24 sm:mt-0">
    <div class="flex flex-col items-center gap-3 md:gap-6 ">
      <h2 class="md:text-4xl text-2xl  tracking-wider">
        Join millions of Others
      </h2>
      <p class="md:text-lg text-sm  text-center w-[80%] sm:w-[44%] md:w-[40%] lg:w-[34%] mb-[2rem] lg:mb-[4rem] ">
        Whether sharing your expertise, breaking news, or whatever’s on your
        mind, you’re in good company on Blogger. Sign up to discover why
        millions of people have published their passions here.
      </p>
      <a href="/user/signin"
                    class="uppercase px-6 py-4 text-[.8125rem] bg-[#2f454f] hover:bg-[#29383e] text-white font-[500] rounded">create
                    your blog</a>
    </div>
  </div>
  <div>
    <img src="../..//images/H6Map.png"
    class="absolute top-1"
    alt="">
    <img src="../..//images/H6SmallPeople.png"
    class="absolute top-0 md:-right-16 sm:block hidden"
    alt="">
    <img src="../..//images/H6BigPeople.png"
    class="absolute bottom-0 sm:hidden block"
    alt="">
  </div>
</section>
