<section class=" HTSection relative z-30 bg-[#577783] h-[45vh] sm:h-[65vh] xl:h-[75vh] w-full sm:gap-0 gap-4 sm:justify-start justify-around flex sm:flex-row flex-col px-8 items-center overflow-hidden text-white">
    <div class="w-full sm:w-[57%]">
        <h2 class="md:text-4xl text-2xl font-semibold mb-4 ">Know your audience</h2>
        <p class="md:text-lg text-sm lg:font-semibold sm:w-[80%] w-full ">Find out which posts are a hit with Blogger’s built-in analytics. You’ll see where your audience is coming from and what they’re interested in. You can even connect your blog directly to Google Analytics for a more detailed look.</p>
    </div>
    <div class=" ">
        <div class="">
            <img src="../..//images/HF1.png" 
        class="absolute top-64 sm:right-24 right-64  sm:top-20 md:top-12 lg:top-0 w-[42%] sm:w-[35%]
        alt="">
        <img src="../..//images/HF2.png" 
        class="absolute top-8 md:top-2.5 -right-24 md:-right-32 lg:-right-52 w-[21%] sm:block hidden "
        alt="">
        <img src="../..//images/HF3.png " 
        class="absolute bottom-12 md:bottom-6 lg:-bottom-0 sm:w-[34%] w-[44%]"
        alt="">
        <img src="../..//images/HF4.png" alt=""
        class="absolute bottom-6 sm:bottom-4 md:-bottom-0 w-[31.5%] -right-40 md:-right-52 lg:-right-80 sm:block hidden"
        >
        </div>

    </div>
</section>