<section
  class="HTSection relative z-30 bg-[rgb(56,141,128)] w-full h-[60vh] md:h-[80vh] flex sm:items-center  sm:flex-row flex-col  justify-start sm:justify-between overflow-hidden"
>
  <div class="w-full sm:w-[45%]">
    <img src="../..//images/HF_Laptop.png" class="md:w-[75%] sm:block hidden" alt="" />
  </div>
  <div class="w-full sm:w-[55%] text-white px-8 lg:px-12  flex lg:flex-row flex-col lg:gap-0 sm:gap-[7rem] justify-around ">
    <div class="sm:mt-0 mt-16">
        <h2 class="text-3xl sm:text-4xl mb-4 font-semibold w-full z-30">Earn money</h2>
    <p class="lg:w-[70%] w-[85%] font-semibold text-sm lg:text-xl lg:leading-[35px] leading-[25px] relative z-30">
      Get paid for your hard work. Google AdSense can automatically display
      relevant targeted ads on your blog so that you can earn income by posting
      about your passion
    </p>
    </div>
   <div class="">
     <img src="../..//images/HF_Card.png" 
    class="absolute w-[16.25rem] right-[14%] -bottom-[18%] md:-bottom-[12%]"
    alt="" 
    />
    <img src="../..//images/HF_Calculator.png"
    class="absolute w-[17.5rem] -right-[9%] md:-right-[1%] -bottom-[30%] md:-bottom-[18%] z-20"
    alt=""

    />
    <img src="../..//images/HF_dollar.png"
    class="absolute w-[4.68rem] right-[1%] bottom-[27%] "
    alt=""
     />
   </div>
  </div>
</section>
