<section class="HSSection bg-[#ff8000] relative h-[60vh] sm:h-[78vh] z-20 py-20 pb-32 overflow-hidden">

    <div class="flex justify-evenly items-center md:flex-row flex-col gap-24 md:gap-0  text-white w-full ml-8 md:ml-6 overflow-hidden "
    id="HSSDIV"
    >
        <div class="w-full md:w-[65%] md:mt-8 ">
            <h2 class="w-full  text-[2rem] sm:text-[3rem]   mb-4 md:mb-9 tracking-wider font-sans relative z-30">Choose the perfect design</h2>
            <p class="text-sm  sm:font-semibold  w-[75%] sm:w-[90%] md:w-[70%] md:text-lg leading-[25px] relative z-30"
            id="HSSP"
            >
                Create a beautiful blog that fits your style. Choose from a selection of easy-to-use templates – 
                all with flexible layouts and hundreds of background images – or design something new.
            </p>
        </div>
        <div class="w-full md:w-1/3 flex justify-center overflow-hidden  " id="HSSMyBlog">
            <img 
                src="/images/HSSPen.png" 
                id="HSSPen"
                alt="HSSPen" 
                class="absolute md:w-[28%] md:inset-x-[40%] md:top-5 hidden md:block  xl:w-[24%]  "
            >
            <img 
            src="/images/HSSMyBlog.png"
             alt="HSSMyBlog"
             id="HSSMyBlog"
            class="absolute md:w-[60%] lg:w-[55%] w-[85%] overflow-hidden md:-bottom-14 lg:-bottom-28   -bottom-20 md:-right-20 -right-14 lg:-right-14 xl:-bottom-40 xl:w-[50%] "
            >
            <img 
            src="/images/HSSBeach.png"
             alt="HSSMyBlog"
             id="HSSBeach"
            class="absolute w-[65%] md:w-[54%] lg:w-[50%] overflow-hidden  md:-right-36 lg:-bottom-52 -bottom-16 md:-bottom-32 right-2 lg:-right-32 xl:-bottom-52 xl:w-[40%] xl:-right-24  "
            >
        </div>
    </div>
</section>
