#HSSMyBlog {
  animation: HSSMyBlogSlide .5s ease-out;
  /* bottom: -100%; */
}
#HSSBeach {
  animation: HSSBeachSlide .7s ease-in;
}

@keyframes HSSMyBlogSlide {
  0% {
    bottom: -30rem;
  }
  25%{
    bottom: -25rem;
  }
  50%{
    bottom: -20rem;
  }
  75%{
    bottom: -15rem;
  }
  100% {
    bottom: -10rem;
  }
}
@keyframes HSSBeachSlide{
    from {
        bottom: -40rem;
      }
      to {
        bottom: -13rem;
      }
}

@media (min-width: 488px) and (max-width: 717px) {
  #HSSMyBlog {
    width: 70%;
    bottom: -3rem;
    animation: HSSMyBlogSlide 0.6s ease-in-out;
  }
  #HSSBeach {
    width: 58%;
    bottom: -5rem;
    animation: HSSBeachSlide .7s ease-in;
  }
  #HSSP {
    width: 65%;
  }
  
  
  @keyframes HSSMyBlogSlide {
    from {
      bottom: -30rem;
    }
    to {
      bottom: -3rem;
    }
  }
  @keyframes HSSBeachSlide{
      from {
          bottom: -40rem;
        }
        to {
          bottom: -5rem;
        }
  }
}

@media (min-width: 717px) and (max-width: 768px) {
  #HSSMyBlog {
    /* background-color: red; */
    width: 68%;
    bottom: -4rem;
    animation: HSSMyBlogSlide 0.6s ease-in-out;
  }
  #HSSP {
    width: 65%;
  }
  #HSSBeach {
    width: 58%;
    bottom: -5rem;
    animation: HSSBeachSlide .7s ease-in;
  }

  @keyframes HSSMyBlogSlide {
    from {
      bottom: -30rem;
    }
    to {
      bottom: -4rem;
    }
  }
  @keyframes HSSBeachSlide{
      from {
          bottom: -40rem;
        }
        to {
          bottom: -5rem;
        }
  }
}
