            #hero_images {
                transition: background-color 1.5s ease;
                
            }

           #img_2nd {
                transform: translateX(-36rem) translateY(500%);
                animation: scaleUp 1s ease forwards;


            } 
            #img_3rd{
                transform: translateX(-36rem) translateY(500%);
                animation: scaleUp 1.1s ease forwards;
            }
            #img_4th{
                transform: translateX(-36rem) translateY(500%);
                animation: scaleUp 1.3s ease forwards;
            }
            #img_5th{
                transform: translateX(-6rem) translateY(500%);
                animation: scaleUpp 1.4s ease forwards;
            }
            #img_6th{
                transform: translateX(115%) translateY(500%);
                animation: scaleUppp 1.4s ease forwards;
            }
            #img_7th{
                transform: translateX(225%) translateY(500%);
                animation: scaleUpppp 1.4s ease forwards;
            }
            #img_8th{
                transform: translateX(225%) translateY(500%);
                animation: scaleUppp 1.4s ease forwards;
            }
            #img_1st{
                transform: translateX(0%) translateY(500%);
                animation: scaleUp1st 1.1s ease forwards;
            }
           
            


                @keyframes scaleUp {
                    to {
                        transform: translateX(-45rem) translateY(6rem);
                    }
                }
            @keyframes scaleUpp {
                to {
                    transform: translateX(-6rem) translateY(3rem);
                }
            }
             @keyframes scaleUpp {
                to {
                    transform: translateX(-6rem) translateY(3rem);
                }
            }
            @keyframes scaleUppp {
                to {
                    transform: translateX(225%) translateY(2.5rem);
                }
            }
            @keyframes scaleUpppp {
                to {
                    transform: translateX(290%) translateY(4rem);
                }
            }
            @keyframes scaleUp1st {
                to {
                    transform: translateX(0%) translateY(83px);
                }
            }
            #img_2nd_green{
                transform: translateX(0) translateY(500%);
                animation: green_scaleUp 1s ease forwards;
            }

            #img_3rd_green{
                transform: translateX(0) translateY(500%);
                animation: green_scaleUpp 1.1s ease forwards;
            }
            #img_4th_green{
                transform: translateX(0) translateY(500%);
                animation: green_scaleUppp 1.3s ease forwards; 
            }
            #img_5th_green{
                transform: translateX(0) translateY(500%);
                animation: green_scaleUpppp 1.4s ease forwards; 
            }
            #img_6th_green{
                transform: translateX(0) translateY(500%);
                animation: green_scaleUppppp 1.4s ease forwards;  
            }
            #img_7th_green,#img_8th_green,#img_9th_green{
                transform: translateX(0) translateY(500%);
                animation: green_scaleUpppppp 1.4s ease forwards;  
            }
            #img_1st_green{
                transform: translateX(0) translateY(500%);
                animation: green_scaleUppppppp 1.4s ease forwards; 
            }

            #img_2nd_blue{
                transform: translateX(0) translateY(500%);
                animation: blue_scaleUp 1s ease forwards; 
            }
            #img_3rd_blue{
                transform: translateX(0) translateY(500%);
                animation: blue_scaleUpp 1.1s ease forwards;
            }
            #img_4th_blue{
                transform: translateX(0) translateY(500%);
                animation: blue_scaleUppp 1.3s ease forwards;
            }
            #img_5th_blue{
                transform: translateX(0) translateY(500%);
                animation: blue_scaleUpppp 1.4s ease forwards;
            }
            #img_6th_blue{
                transform: translateX(0) translateY(500%);
                animation: blue_scaleUppppp 1.4s ease forwards;
            }
            #img_7th_blue{
                transform: translateX(0) translateY(500%);
                animation: blue_scaleUpppppp 1.4s ease forwards;
            }
            #img_1st_blue{
                transform: translateX(0) translateY(500%);
                animation: blue_scaleUppppppp 1.4s ease forwards;
            } 

            @keyframes green_scaleUp {
                to{
                    transform: translateX(0) translateY(5.188rem);
                }
            }
            @keyframes green_scaleUpp {
                to{
                    transform: translateX(0) translateY(16.125rem);
                }
            }
            @keyframes green_scaleUppp {
                to{
                    transform: translateX(0) translateY(9.875rem);
                }
            }
            @keyframes green_scaleUpppp {
                to{
                    transform: translateX(0) translateY(0.313rem);
                }
            }
            @keyframes green_scaleUppppp {
                to{
                    transform: translateX(0) translateY(10rem);
                }
            }
            @keyframes green_scaleUpppppp {
                to{
                    transform: translateX(0) translateY(18.875rem);
                }
            }
            @keyframes green_scaleUppppppp {
                to{
                    transform: translateX(0) translateY(5.188rem);
                }
            }

            @keyframes blue_scaleUp {
                to{
                    transform: translateX(0) translateY(5.438rem);
                }
            }
            @keyframes blue_scaleUpp {
                to{
                    transform: translateX(0) translateY(16.125rem);
                }
            }
            @keyframes blue_scaleUppp {
                to{
                    transform: translateX(0) translateY(9.875rem);
                }
            }
            @keyframes blue_scaleUpppp {
                to{
                    transform: translateX(0) translateY(0.313rem);
                }
            }
            @keyframes blue_scaleUppppp {
                to{
                    transform: translateX(0) translateY(10rem);
                }
            }
            @keyframes blue_scaleUpppppp {
                to{
                    transform: translateX(0) translateY(18.875rem);
                }
            }
            @keyframes blue_scaleUppppppp {
                to{
                    transform: translateX(0) translateY(5.188rem);
                }
            }

            /* ====================================
                        1st div responsive 
                =================================== */

            @media (max-width: 768px) {
                #img_7th{
                    width:19% ;
                transform: translateX(210%) translateY(500%);
                animation: scaleUppppres1 1.4s ease forwards;
            }
            #img_8th{
                transform: translateX(225%) translateY(500%);
                animation: scaleUpppres2 1.4s ease forwards;
            }
            #img_6th{
                width: 30%;
                transform: translateX(140%) translateY(500%);
                animation: scaleUpppres3 1.4s ease forwards;
            }
            #img_5th{
                width: 15%;
                
            }
            #img_2nd {
                width: 20%;
                transform: translateX(-10rem) translateY(500%);
                animation: scaleUp 1s ease forwards;


            }
            @keyframes scaleUppppres1 {
                to {
                    transform: translateX(210%) translateY(11rem);
                }
            }
            @keyframes scaleUpppres2 {
                to {
                    transform: translateX(225%) translateY(9rem);
                }
            }
            @keyframes scaleUpppres3 {
                to {
                    transform: translateX(160%) translateY(7rem);
                }
            }

            @keyframes scaleUp {
                to {
                    transform: translateX(-11rem) translateY(8rem);
                }
            }
           
            /* ====================================
                    2nd div responsive 
            =================================== */


            #img_2nd_green{
                width: 24%;
                transform: translateX(0) translateY(500%);
                animation: green_scaleUp 1s ease forwards;
            }
            #img_5th_green{
                width: 23%;
                transform: translateX(0) translateY(500%);
                animation: green_scaleUpppp 1.4s ease forwards; 
            }
            #img_6th_green{
                width: 20%;
                transform: translateX(0) translateY(500%);
                animation: green_scaleUppppp 1.4s ease forwards;  
            }
            @keyframes green_scaleUp {
                to{
                    transform: translateX(0) translateY(10rem);
                }
            }
            @keyframes green_scaleUpppp {
                to{
                    transform: translateX(0) translateY(1.3rem);
                }
            }
            @keyframes green_scaleUppppp {
                to{
                    transform: translateX(0) translateY(10rem);
                }
            }

             /* ====================================
                    3rd div responsive 
            =================================== */



            }
           
           